* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
#root {
  display: flex;
  justify-content: center;
  background-image: url(https://3.bp.blogspot.com/-1-EI-hYRRqc/Xd2zFunH65I/AAAAAAAARyU/9lC8yiPTk04zG8t5lIbIc3A-tIwqKxBvwCLcBGAsYHQ/w914-h514-p-k-no-nu/sunrise-illustration-digital-art-uhdpaper.com-4K-4.1963-wp.thumbnail.jpg)
}

#contacts {
  width: 50%; 
  background-image: url(https://i.pinimg.com/originals/d3/55/53/d35553637a5994d319feb408b7f85f54.jpg);
  background-size: cover;
}

#contacts h5 {
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  color:#383131;
  text-align: center;
}

#form_input label {
color: #130808;
cursor: pointer;
font-size: 1.4em;
font-family: 'Roboto Slab', serif;
}


